.navbar-brand{
    width: 100%;
    background-color: #38b6ff;
    color: #ffffff;
    font-size: large;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0%;
 }
  
 .navbar-brand a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
 }
 