.about {
  font-family: Century
}


@media (max-width: 375px) {
  #home1,
  #home2 {
    width: auto;
  }
   #homeIntro {
    font-size: 30pt;
  }
}
 @media (max-width: 414px) {
  #home1,
  #home2 {
    width: auto;
  }
  #homeIntro {
    font-size: 30pt;
  }
}

.jumbotron {
  background-image: url(./images/skyline.jpg);
  background-size: cover;
  min-height: 100vh;
}
h1 {
  color: #38b6ff;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;

}

.btn col text-center{
  padding: 10px 35px;
  background-color: transparent;
  border:1px solid white;
  outline: none;
  transition: .6s ease;
  display: flex;
  justify-content: center;
  margin: 0, 20px,;
}
