.login-form {
    font-family: Century;
  }
  
  .logincard {
    background-color: #59bfff;
    border-radius: 20px;
    border: none;
  }
  
  .card {
    border: none;
  }
  
  .login-btn {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: #59bfff;
  }
  
  .login-btn:hover {
    cursor: pointer;
    color: white;
  }
